@{
    Layout = "_Layout";
}

<h1>Automação de Veículos de 2024</h1>

<p>Sejam bem-vindos ao portal de informações sobre as maiores marcas de veículos importados!</p>



<style>
    .h1 {
     text-align: center;
    }
    
    .p {
        text-align: center;
    }
    

</style>